:root {
    --green: #00ffc8;
    --blue: #65f5ff;
    --black: #141414;
    --white: #edfcf9;
    --shadow: #00000063;
    --transparent: rgba(0, 0, 0, 0.4);
    --green-gradient: radial-gradient(circle, rgba(0,255,171,1) 0%, rgba(0,148,99,1) 100%);
}



.navbar {
    background-color: var(--black);
}

.navbar-brand {
    margin-left: 10%;
    color: var(--green);
    font-size: 1.5em;
}

#navbarNav {
    margin-right: 10%;
}

.nav-link {
    margin: 0 10px 0 10px;
}

.nav-link:hover {
    color: var(--blue);
}

.nav-icon {
    max-width: 2em;
}


body {
    background-color: var(--black);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: var(--white);
    margin: 0;
}

body::after {
    content: "";
    animation: backgroundFadeIn 3s;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: var(--transparent);
    position: fixed;
    z-index: -1;
}

@keyframes backgroundFadeIn {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

section {
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

.page-header {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 3.2em;
    color: var(--white);
    text-shadow: 2px 2px var(--shadow);
}

.page-header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;
    background-color: var(--black);
    z-index: -2;
    filter: blur(.3em);
}

#landingPage {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#siteHeader {
    text-align: center;
    padding: 20px;
    border-radius: .3em;
    text-shadow: 4px 4px 2px var(--transparent);
}

#siteHeader > div > h1 {
    font-size: 5rem;
}

#siteHeader > div > h3 {
    font-size: 4rem;
}

#siteHeader > div > h4 {
    font-size: 3rem;
}

#landingNav {
    border: solid 2px var(--green);
    display: flex;
    text-align: center;
    gap: 10px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 1em;
    background-color: var(--transparent);
    border-radius: 1em;
}

.landing-link {
    text-decoration: none;
    color: var(--white);
    font-size: 1.5em;
    transition: .2s;
}

.landing-link:hover {
    color: var(--green);
    text-shadow: 2px 2px var(--shadow);
}

.landing-link:active {
    color: var(--blue);
    font-size: 1.7em;
}

.landing-nav-fade-in {
    animation: landingNav 2s;
}

@keyframes landingNav {
    0% {opacity: 0;}
    75% {opacity: 0;}
    100% {opacity: 1;}
}

.fade-in-up {
    animation: fadeInUp 1.5s;
}

@keyframes fadeInUp {
    0% {opacity: 0;
        transform: translate(0, -100%);} 
    100% {opacity: 1;
        transform: translate(0, 0);}
}

.fade-in-down {
    animation: fadeInDown 1.5s;
}

@keyframes fadeInDown {
    0% {opacity: 0;
        transform: translate(0, 100%);} 
    100% {opacity: 1;
        transform: translate(0, 0);}
}

.skills-icon {
    margin: 0;
    padding: 0;
    justify-content: center;
    max-height: 100px;
    z-index: 2;
}

.skills-wrapper {
    margin: 20px;
    justify-content: center;
    display: flex;
    position: relative;
    height: 100px;
    width: 100px;
}

.skills-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50;
    z-index: 1;
    background: var(--green);
    filter: blur(1rem);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    transition: .5s;
}

.skills-wrapper:hover::after {
    filter: blur(.2rem);
    background: var(--blue);
}

#skillsPage {
    margin-top: 150px;
    text-align: center;
    position: relative;
    background-color: var(--transparent);
}

#skillsPage::after {
    content: "";
    width: 100%;
    height: 150px;
    background-image: linear-gradient(transparent, var(--transparent));
    position: absolute;
    left: 0;
    top: -150px;
}

#skillsTable {
    margin-top: 50px;
    color: var(--white);
    background-color: var(--transparent);
    border: solid 2px var(--transparent);
    box-shadow: 0 0 10px var(--shadow);
    transition: .3s;
}

td:hover {
    text-shadow: 0 0 10px var(--green);
}

#projectsPage {
    background-color: transparent;
    margin-bottom: 250px;
}

.project-card {
    text-align: justify;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: var(--transparent);
    padding: 20px;
    margin: 20px;
    border-radius: 1em;
    transition: .3s;
    position: relative;
}

.project-card:hover {
    background-color: var(--black);
}

.project-title {
    padding-bottom: 5px;
    text-align: center;
    font-size: 2.5rem;
}

.project-image {
    max-width: 100%;
    height: auto;
    opacity: 75%;
    transition: .2s;
}

.project-image:hover {
    opacity: 100%;
    border: 4px solid var(--green);
    border-radius: .2em;
}

.project-description {
    padding-top: 10px;
}

#aboutMePage {
    text-align: justify;
    color: var(--black);
    position: relative;
    margin-top: 300px;
    background-color: var(--green);
}

#aboutMePage::after {
    content: "";
    width: 100%;
    height: 300px;
    background-image: linear-gradient(var(--transparent), var(--green));
    position: absolute;
    left: 0;
    top: -300px;
}

.about-me-card {
    background-color: var(--transparent);
}

#profilePic {
    max-width: 100%;
    max-height: 80%;
}